
body{
    font-family:Montserrat;
    margin: 0;
    background-color: #101010;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
.headerDiv{
    background-color: #432C7A;
    height: 12vh;
    margin-left: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px
}

.arrows{
    margin:27px 14px;
    background-color: black;
    color: aliceblue;
    border: 5px solid transparent;
    border-radius: 30px;
    width: 40px;
    opacity: 0.5;
}
.arrows:hover{
    opacity: 0.8;
}

.profile{
    font-family:Montserrat;
    display: flex;
    align-items: center;
    gap:8px;
 
    font-size: 14px;
    border:1px solid transparent;
    border-radius: 30px;
    color:white; 
    height: 35px;
    background:  rgba(0,0,0,0.8);
    background-size: 33px;
    padding:0
}

.profile:hover{
    background: rgba(0,0,0,0.4);
}
.profile:hover+#dropdown{
   display:block;
}
.profile > span{
    padding-right:10px;
    font-weight: 500;
}
button:active{
    transform: scale(0.9);
}
.signin-btn{
    font-family:Montserrat;
    display: flex;
    align-items: center;
    gap:8px;
    margin:15px 20px;
    background-color: #101010;
    color:white;
    padding:5px 10px;
    border: 1px solid transparent;
    border-radius:7px;
}
#dropdown {
    position: relative; 
  }
  #dropdown-content {
    position: absolute; 
    right: 25px;
    padding: 0;
    text-align: center;
    width: 3.5em;
    background-color: #444343ec;
    padding: 10px;
    border-radius: 5px;
    display: none;
  }
  
  #dropdown:hover #dropdown-content {
    display: block;
  }
  
  #dropdown-content>ul{
      list-style: none;
      padding:0;
      margin:0;
  }
  
.dd-list-item{
    opacity: 0.8;
}
.dd-list-item:hover{
    opacity: 1;
}
#logout-btn{
    color: white;
    background-color: inherit;
    font-size: 14px;
    width: 100%;
    border:1px solid transparent;
    font-family: "Roboto";
    font-weight: 400;
    display: flex;
    padding:0;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:450px){
    .headerDiv{
        width: 85vw;
    }
    
     .profile{
         right: 0;
     }   
     .profile>span{
         font-size: 12px;
     }
}
