.navbarDiv{
    background-color: black;
    width: 220px;
    float: left;
    height: 100%;
}
a{
    text-decoration: none;
    color: white;
}
ul>.navItems{
    list-style: none;
    background-color: black;
    margin-top: 0%;
    color:white;
    position: relative;
}
ul>.navItems>li{
    display: flex;
    align-items:center;
    margin:0 -32px;
    padding:10px;
    font-size: 14px;
    opacity: 0.8;
}

ul>.navItems2>li{
    display: flex;
    align-items:center;
    margin:0 -21px;
  
    font-size: 13px;
    opacity: 0.8;
}
ul>.navItems>li:hover{
    opacity: 1;
}
ul>.navItems2>li:hover{
    opacity: 1;
}
.navIcons{
    padding-right: 6px;
   
}
.regIcon{
    font-size: 10px;
    vertical-align: text-top;
}
.logo > img,
.logo > h1{
    background-color: white;
    vertical-align: middle;
    border-radius: 30px;
}
.logo{
    color: white;
    font-size: 22px;
    padding-left: 16px;
    padding-top: 12px;
}
hr{
    width: 207px;
    opacity: 0.5;
}
