.playlistSqDiv{
    background-color: #101010;
    padding:0px 13.5px 20px 13.5px;  
}
.playlistSqButton{
    border:10px solid transparent;
    border-radius: 5px;
    background:rgba(247,247,247,0.04);
    color:rgb(255, 255, 255,1);
    border-radius: 7px;  
    font-family:Montserrat;
    transition: 0.5s;

}

.playlistSqButton:hover{
    background:rgba(247,247,247,0.12);
}

.playlistSqButton > img,
.playlistSqButton > span{
    padding: 5px;
    display: block;
    width:175px;
    border-radius: 9px;
    text-align: start;
}
.mixName{
    font-weight:600;
    font-size: 16px;
}
.info{
    opacity: 0.6;
}

@media screen and (max-width:400px){
 .playlistSqDiv{
    align-items: center;
 }
}
