.playlistSqDiv{
    background-color: #191A19;
    padding:0px 13.5px 20px 13.5px;
    
  
}
.playlistSqButton{
    border:10px solid transparent;
    border-radius: 5px;
    background-color:#EFEFEF;
    background:rgba(247,247,247,0.1);
    color:rgb(255, 255, 255,1);
    border-radius: 6px;  
    font-family: Montserrat;
}
.playlistSqButton:hover{
    background:rgba(247,247,247,0.2);
}
.playlistSqButton > img,
.playlistSqButton > span{
    padding: 5px;
    display: block;
    width:175px;
    border-radius: 9px;
    text-align: start;
}
.mixName{
    font-weight:600;
    font-size: 16px;
}
.info{
    opacity: 0.6;
}

@media screen and (max-width:800px){
    .test{
        flex-direction:column ;
    
    }
}
