.test{
  
    display: flex;    
   flex-wrap:wrap;
   
   
   
}
.playlistRectDiv{
    background-color: #191A19;
    padding: 5px;
  
}
.playlistRectButton{
    font-family: Montserrat;
    border:10px solid transparent;
    border-radius: 5px;
    background:rgba(247,247,247,0.1);
    color:rgb(255, 255, 255,1);
    margin:5px; 
    width: 29em;
    text-align: start;
    font-weight:bold;
}
.playlistRectButton:hover{
    background:rgba(247,247,247,0.2);
}
.playlistRectButton > img,
.playlistRectButton > span{
    vertical-align: middle;
    padding-right: 25px;
    
}
