.h2div{
     background-color: #101010;
    width: auto;
    height: 80px;
    color: white;
    padding-left:10px;
    padding-top: 10px;
    display: flex;
    font-size: 14px;
    margin-left: 220px;
}