body{
    font-family: Montserrat;
    margin: 0;
    background-color: black;
}
.headerDiv{
    background-color: #432C7A;
    height: 89.5px;
    margin-left: 180px;
}

.arrows{
    margin:27px 14px;
    background-color: black;
    color: aliceblue;
    border: 5px solid transparent;
    border-radius: 30px;
    width: 40px;
    opacity: 0.5;
}
.arrows:hover{
    opacity: 0.8;
}

.profile{
    font-family: Montserrat;
    margin:15px;
    float: right;
    font-size: 14px;
    border-radius: 30px;
    border:10px solid transparent;
    background: rgba(0,0,0,0.9); 
    color:rgba(207,207,207,1);
    height: 50px;
    
}

.profile:hover{
    background: rgba(0,0,0,0.6);
}
.profile > img,
.profile > span{
    vertical-align:middle;
    position: relative;
    padding:0px 5px; 
    bottom: 6px; 
}

.expand{
    vertical-align: middle; 
}