.playlistRectDiv{
    background-color: #3C4048;
    padding: 5px;
    float: right;
}
.playlistRectButton{
    border:10px solid transparent;
    border-radius: 5px;
    background-color:#EFEFEF;
    background:rgba(247,247,247,0.2);
    color:rgb(255, 255, 255,1);
    margin:5px;
    width: 30em;
    text-align: start;
}
.playlistRectButton:hover{
    background:rgba(247,247,247,0.4);
}
.playlistRectButton > img,
.playlistRectButton > span{
    vertical-align: middle;
    padding-right: 25px;
}